.clients {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $white-first;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  margin: 0;

  @media screen and(min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients__item {
  margin: 0;
  width: 100%;
  height: 90px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and(min-width: 480px) {
    width: 210px;
    margin-left: 30px;
    margin-top: 30px;

    &:not(:last-child) {
      margin-bottom: unset;
    }
  }

  @media screen and(min-width: 768px) {
    width: 226px;
  }

  @media screen and(min-width: 1200px) {
    width: 170px;
  }
}

// .clients__item:not(:last-child) {
//   margin-right: 30px;
// }

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid $grey-icon-second;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $grey-icon-second;

  transition: color $animation-timing-function,
    border-color $animation-timing-function;

  &:hover,
  &:focus {
    border-color: $blue-first;
    color: $blue-first;
  }
}

.clients__icon {
  fill: currentColor;
}
