.page-header {
  background-color: $white-first;
  border-bottom: 1px solid $grey-line;
}

.main-nav {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media screen and(min-width: 768px) {
    min-height: 80px;
  }
}

.page-header__nav {
  display: flex;
}

.page-header__link {
  display: flex;
  align-items: center;

  @media screen and(min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.page-header__logo--accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $blue-first;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $black-first;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.page-header__logo--inverse {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $white-first;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.mobile-menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and(min-width: 768px) {
    justify-content: space-between;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  @media screen and(min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 0;
  transition: color $animation-timing-function;

  @media screen and(min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $blue-first;
  }
}

.site-nav__link--active {
  color: $blue-first;
  position: relative;

  @media screen and(min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $blue-first;
      opacity: 1;
      border-radius: 2px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $grey-first;
  margin-left: auto;

  padding: 0;
  list-style: none;

  @media screen and(min-width: 1200px) {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: $grey-icon-first;
  fill: $grey-icon-first;

  transition: color $animation-timing-function;

  &:hover,
  &:focus {
    color: $blue-first;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item + .contacts__item {
  margin-left: 0;
  margin-top: 10px;

  @media screen and(min-width: 1200px) {
    margin-left: 50px;
    margin-top: 0;
  }
}

// .social {
//   display: flex;
//   padding: 0;
//   margin: 0;
//   list-style: none;

//   @media screen and(min-width: 768px) {
//     display: none;
//   }
// }

// @media (max-width: 767px) {
//   .social {
//     display: none;
//   }
// }
