.page-footer {
  display: flex;
  background-position: center;
  background-color: $grey-back;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.page-footer__container {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.page-footer__info {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    align-items: start;
    width: 100%;
  }
}

.info__link {
  display: inline-block;
  margin-bottom: 20px;
}

.info__house {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-first;
}

.info__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @media screen and(min-width: 1200px) {
    align-items: start;
  }
}

.info__item {
  display: inherit;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $grey-text-op60;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
    width: 100%;
    margin-bottom: 0;
    align-items: start;
  }
}

.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-first;
  margin-top: 0;
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  margin: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: $grey-icon-third;
  border-radius: 50%;
  color: $white-first;
  justify-content: center;
  align-items: center;

  transition: background-color $animation-timing-function;

  &:hover,
  &:focus {
    background-color: $blue-first;
  }
}

.social__icon {
  fill: currentColor;
}

.footer-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  width: 100%;

  @media screen and(min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.footer-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-first;
  text-align: left;
  margin-bottom: 20px;
}

.footer-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and(min-width: 768px) {
    width: 450px;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: $grey-back;
  border: 1px solid $white-third;
  border-radius: 4px;

  padding: 15px 16px;
  margin-bottom: 20px;

  @media screen and(min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $white-four;
  }
}

.footer-form__btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: $blue-first;
  border-radius: 4px;
  color: $white-first;
  border: none;

  transition: box-shadow $animation-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  cursor: pointer;
}

.footer-form__label {
  margin-right: 10px;
}
