$blue-first: rgba(33, 150, 243, 1);
$blue-second: rgba(33, 150, 243, 0.9);
$black-first: rgba(0, 0, 0, 1);
$black-text: rgba(33, 33, 33, 1);
$grey-first: rgba(117, 117, 117, 1);
$grey-second: rgba(117, 117, 117, 0.5);
$grey-third: rgba(33, 33, 33, 0.2);
$grey-text-op60: rgba(255, 255, 255, 0.6);
$grey-back: rgba(47, 48, 58, 1);
$grey-back-second: rgba(47, 48, 58, 0.8);
$grey-line: rgba(236, 236, 236, 1);
$grey-line-second: rgba(238, 238, 238, 1);
$grey-icon-first: rgba(117, 117, 117, 1);
$grey-icon-second: rgba(175, 177, 184, 1);
$grey-icon-third: rgba(255, 255, 255, 0.1);
$grey-icon-four: rgba(0, 0, 0, 0.1);
$grey-background: rgba(0, 0, 0, 0.2);
$white-first: rgba(255, 255, 255, 1);
$white-second: rgba(245, 244, 250, 1);
$white-third: rgba(255, 255, 255, 0.3);
$white-four: rgba(255, 255, 255, 0.6);
$white-background-first: rgba(245, 244, 250, 1);
$white-backgroung-second: rgba(229, 229, 229, 1);
$animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
